.logo {
	position  : relative;
	padding   : 2.2rem 1.44rem 2rem;
	transition: .2s;

	.header_fixed & {
		padding   : 0.5rem 1.44rem;
		transition: .2s;
		
		@media (min-width: $min-desktop) {
			padding: 0;
		}
	}

	& span {
		display: block;
	}
	
	.header_fixed & span {
		display   : inline-block;
		transition: .2s;
	}

	@media (min-width: $min-desktop) {
		padding: 0;
	}
}

.logo__link {
	text-decoration: none;
	font-size      : 2.61rem;
	font-weight    : bold;
	line-height    : 1.24;
	color          : $color-text;
	
	&:focus,
	&:hover {
		color     : $light-color-text;
		box-shadow: none;
	}
	
	&:active {
		transform: scale(.9);
	}
	
	&::before {
		position: absolute;
		z-index : z('logo__link::before');
		content : '';
		inset   : 0;
	}

	@media (min-width: $min-desktop) {
		display     : inline-block;
		margin-right: 16.5rem;
		transition  : .2s;

		.header_fixed & {
			margin-right: 8.5rem;
			padding     : 0.2rem 0;
			transition  : .2s;
		}
	}
}

.logo__text {
	margin-bottom: 0;
	transition   : .2s;

	@media (min-width: $min-desktop) {
		display   : inline-block;
		transition: .2s;
		transform : translateY(-0.55rem);
	}

	.header_fixed & {
		margin-top: 0;
		transition: .2s;
	}
}
