.logo {
	padding: 2.2rem 1.44rem 2rem;

	@media (min-width: $min-desktop) {
		padding: 0;
	}

	& span {
		display: block;
	}
}

.logo__link {
	margin-right: 16.5rem;
	text-decoration: none;
	font-size      : 2.61rem;
	font-weight    : bold;
	line-height    : 1.24;
	color          : $color-text;
	
	@media (min-width: $min-desktop) {
		display: inline-block;
	}
}


@media (min-width: $min-desktop) {

	.logo__text {
		display: inline-block;
	}
}