.navbar {
	position: relative;
}

.navbar__container {
	box-sizing      : border-box;
	transition      : .5s;
	background-color: $color-body;
	
	@media (max-width: $max-desktop) {
		position: fixed;
		z-index : z('navbar__container');
		top     : 0;
		right   : 0;
		bottom  : 0;
		left    : 0;
		width   : 100%;
		height  : 100%;
		padding : 1rem 1.44rem;

		&_close {
			transition: .5s;
			transform : translateX(200%);
		}
	}
	
	@media (min-width: $min-desktop) {
		bottom: auto;
		height: auto;
	}
}

.navbar__menu {
	height: 100%;
}

.navbar__button-toggle {
	position        : absolute;
	z-index         : z('navbar__button-toggle');
	top             : 1.4rem;
	right           : 0;
	width           : calc(1.89rem * 1.24);
	height          : calc(1.89rem * 1.24);
	margin          : 1rem 1.44rem;
	cursor          : pointer;
	transition      : .3s;
	transition      : .2s;
	border          : none;
	border-radius   : 0;
	background-color: transparent;

	@media (min-width: $min-desktop) {
		display: none;
	}

	.header_fixed & {
		top       : 0;
		transition: .2s;
	}
	
	&:focus,
	&:hover {
		transform : scale(1.1);
		box-shadow: none;
	}

	& i {
		position        : relative;
		display         : block;
		width           : 100%;
		height          : 0.22rem;
		background-color: $color-text;

		&::before,
		&::after {
			position        : absolute;
			top             : -0.44rem;
			left            : 0;
			display         : block;
			width           : 100%;
			height          : 0.22rem;
			content         : "";
			transition      : .3s;
			background-color: $color-text;
		}

		&::after {
			top   : unset;
			bottom: -0.44rem;
		}
	}
}


.navbar__button-toggle_close {
	transition: .3s;

	.header_fixed & {
		top: 1.4rem;
	}

	& i {
		background-color: transparent;
	
		&:before {
			transform       : translateY(200%) rotate(45deg);
			background-color: $light-color-text;
		}

		&:after {
			transform       : translateY(-200%) rotate(-45deg);
			background-color: $light-color-text;
		}
	}
}

.navbar__list {
	@include reset-list;
	
	@media (min-width: $min-desktop) {
		@include flex(row, stretch);

		width        : $container;
		margin       : 0 auto;
		border-bottom: 1px solid $light-color-text;
	}
}

.navbar__item {
	
	@media (min-width: $min-desktop) {
		width: 20%;
	}
		
	&:focus,
	&:hover {
		box-shadow: none;
	}
}

.navbar__button {
	display         : block;
	padding         : 1.38rem 0;
	text-decoration : none;
	font-size       : 1.89rem;
	font-weight     : bold;
	line-height     : 1.24;
	color           : $light-color-text;
	background-color: $color-body;

	@media (min-width: $min-desktop) {
		transition: .2s;
		text-align: center;
		font-size : 1rem;

		.navbar__item:first-child & {
			text-align: left;
		}

		.navbar__item:nth-child(2) & span {
			display  : inline-block;
			transform: translateX(-50%);
		}

		.navbar__item:nth-child(4) & span {
			display  : inline-block;
			transform: translateX(50%);
		}

		.navbar__item:last-child & {
			text-align: right;
		}

		.header_fixed & {
			padding   : 1rem 0;
			transition: .2s;
		}
	}
	
	&:focus,
	&:hover {
		box-shadow : none;
		text-shadow: 0 0 3px $light-color-text;
	}
	
	&:active {
		color: $color-text;
	}

	&_active {
		color: $color-text;
		
		&:focus,
		&:hover {
			text-shadow: none;
		}
	}
}

.navbar__list_language {
	@include reset-list;
	
	position        : absolute;
	z-index         : z('navbar__list_language');
	right           : 0;
	bottom          : 0;
	transform       : rotate(90deg) translate(0, 0.5rem);
	transform-origin: top right;
	
	@media (min-width: $min-desktop) {
		top             : auto;
		bottom          : 0;
		width           : auto;
		transition      : .2s;
		transform       : rotate(-90deg) translate(-2rem, 0.8rem);
		transform-origin: bottom right;
		border          : none;
		
		@media (min-width: $min-desktop) {
		
			.header_fixed & {
				bottom    : -3rem;
				transition: .2s;
				transform : none;
			}
		}
	}
}

.navbar__item_language {
	position      : relative;
	display       : inline-block;
	text-transform: uppercase;
	
	@media (min-width: $min-desktop) {
		width       : auto;
		padding     : 0;
	}

	&:not(:last-child)::after {
		position        : absolute;
		z-index         : z('navbar__item_language::after');
		top             : 1rem;
		right           : -0.3rem;
		display         : block;
		width           : 0.22rem;
		height          : 1.8rem;
		content         : "";
		background-color: $color-text;
		
		@media (min-width: $min-desktop) {
			top    : 0.7rem;
			right  : -0.1rem;
			display: block;
			width  : 0.15rem;
			height : 1rem;
		}
	}
}

.navbar__button_language,
.header .navbar__button_language {
	padding         : 0.5rem;
	background-color: transparent;
}