html {
	font-family     : $font-family;
	font-size       : $font-size-main;
	line-height     : $line-height;
}

body {
	@include reset-indent;
	
	color           : $color-text;
	background-color: $color-body;
}

*:focus {
	z-index   : z('focus');
	outline   : none;
	box-shadow: 0 0 0 2px #ffffff, 0 0 5px 3px #3f89bf;
}

.visually-hidden {
	position: absolute !important;
	overflow: hidden;
	clip    : rect(1px 1px 1px 1px);
	clip    : rect(1px, 1px, 1px, 1px);
	width   : 1px !important;
	height  : 1px !important;
	padding : 0 !important;
	border  : 0 !important;
}

.container {
	box-sizing: border-box;
	width     : 100%;
	margin    : 0;
	padding   : 0;

	&_slider {
		padding: 0 30px;
	}
	
	@media (min-width: $min-desktop) {
		width  : $container;
		margin : 0 auto;
		padding: 0;
	}
}

img {
	vertical-align: bottom;
}

.main {
	min-height: 2000px;
	margin-top: calc( 220px + 30px );
}

.wrapper {
	margin-top      : 4.61rem;
	padding         : 3.34rem 1.67rem;
	background-color: $color;
	
	@media (min-width: $min-desktop) {
	
		padding: 5.675rem 0;
	}
}

.title {
	text-align : center;
	font-family: $font-family;
	font-size  : 1.89rem;
	font-weight: bold;
	color      : $color-text;
}

.text {
	text-align : center;
	font-family: $font-family;
	color      : $color-text;
	
	@media (min-width: $min-desktop) {
	
		&_about {
			width : 50%;
			margin: 1rem auto;
		}
	}
}